@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

p {
	text-align: justify;
}

body{
  color: #000000;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}